@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #faf5f1;
  --foreground: #171717;
  --darak-bg: #f3eee2;
  --darak-bg-dark: #979797;
  --text-dark: #373737;
  --darak-point1: #b46a55;
  --darak-point2: #6b4f3b;
  --darak-point3: #eac04d;
}

@keyframes lp-spin {
  100% {
    transform: rotate(360deg);
  }
}

.animate-lp-spin {
  animation: lp-spin 5s linear infinite;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-darak-bg: var(--darak-bg);
  --color-darak-bg-dark: var(--darak-bg-dark);
  --color-text-dark: var(--text-dark);
  --color-darak-point1: var(--darak-point1);
  --color-darak-point2: var(--darak-point2);
  --color-darak-point3: var(--darak-point3);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--darak-bg);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
